# DataFrames II: Filtering Data

In [2]:
import pandas as pd

In [ ]:
employees = pd.read_csv("employees.csv")
employees

In [ ]:
employees.info()

In [ ]:
employees.head()

## Handling Date-Time values

- The `pd.to_datetime` method converts a **Series** to hold datetime values.
- The `format` parameter informs pandas of the format that the times are stored in.
- We pass symbols designating the segments of the string. For example, %m means "month" and %d means day.
- The `dt` attribute reveals an object with many datetime-related attributes and methods.
- The `dt.time` attribute extracts only the time from each value in a datetime **Series**.
- Use the `astype` method to convert the values in a **Series** to another type.
- The `parse_dates` parameter of `read_csv` is an alternate way to parse strings as datetimes.

In [6]:
# Convert the "Start Date" column in the employees DataFrame to datetime format
# The format specified is "%m/%d/%Y" which means the date is in the format of month/day/year
employees["Start Date"] = pd.to_datetime(employees["Start Date"], format="%m/%d/%Y")

In [ ]:
employees["Start Date"].head()

In [ ]:
pd.to_datetime(employees["Last Login Time"], format="%H:%M %p")

In [6]:
employees["Last Login Time"] = pd.to_datetime(
    employees["Last Login Time"], format="%H:%M %p"
).dt.time
"""
Converts the "Last Login Time" column in the employees DataFrame from string format to datetime.time format.

The "Last Login Time" column is expected to be in the format "%H:%M %p" (e.g., "02:30 PM").
The pd.to_datetime function is used to parse the string into a datetime object.
The dt.time accessor is then used to extract only the time component from the datetime object.
"""

## Memory Optimization

In [7]:
employees["Senior Management"] = employees["Senior Management"].astype(bool)
# Converts the "Senior Management" column in the employees DataFrame to a boolean data type.

In [8]:
employees["Gender"] = employees["Gender"].astype("category")
"""
Converts the 'Gender' column in the employees DataFrame to a categorical data type.

This is useful for optimizing memory usage and improving performance when 
performing operations on the 'Gender' column, as categorical data types are 
more efficient for columns with a limited number of unique values.
"""

In [ ]:
employees.info()

In [ ]:
employees = pd.read_csv(
    "employees.csv", parse_dates=["Start Date"], date_format="%m/%d/%Y"
)
employees["Last Login Time"] = pd.to_datetime(
    employees["Last Login Time"], format="%H:%M %p"
).dt.time
employees["Senior Management"] = employees["Senior Management"].astype(bool)
employees["Gender"] = employees["Gender"].astype("category")
employees.head()

## Filter A DataFrame  Based On A Condition
- Pandas needs a **Series** of Booleans to perform a filter.
- Pass the Boolean Series inside square brackets after the **DataFrame**.
- We can generate a Boolean Series using a wide variety of operations (equality, inequality, less than, greater than, inclusion, etc)

In [ ]:
employees = pd.read_csv(
    "employees.csv", parse_dates=["Start Date"], date_format="%m/%d/%Y"
)
employees["Last Login Time"] = pd.to_datetime(
    employees["Last Login Time"], format="%H:%M %p"
).dt.time
employees["Senior Management"] = employees["Senior Management"].astype(bool)
employees["Gender"] = employees["Gender"].astype("category")
employees.head()

In [8]:
import datetime as dt

In [ ]:
employees[employees["Gender"] == "Male"]

In [ ]:
employees[employees["Gender"] == "Male"]  # Returns all rows where Gender is Male

employees[employees["Team"] == "Finance"]  # Returns all rows where Team is Finance

on_finance_team = (
    employees["Team"] == "Finance"
)  # Creates a boolean Series where Team is Finance
employees[on_finance_team]  # Returns all rows where Team is Finance

employees[employees["Senior Management"]].head()

employees[
    employees["Salary"] > 110000
]  # Returns all rows where Salary is greater than 110000

employees[employees["Bonus %"] < 1.5]  # Returns all rows where Bonus % is less than 1.5

employees[
    employees["Start Date"] < "1985-01-01"
]  # Returns all rows where Start Date is before 1985-01-01

employees[
    employees["Last Login Time"] < dt.time(12, 0, 0)
]  # Returns all rows where Last Login Time is before 12:00:00

## Filter with More than One Condition (AND)
- Add the `&` operator in between two Boolean **Series** to filter by multiple conditions.
- We can assign the **Series** to variables to make the syntax more readable.

In [ ]:
employees = pd.read_csv(
    "employees.csv", parse_dates=["Start Date"], date_format="%m/%d/%Y"
)
employees["Last Login Time"] = pd.to_datetime(
    employees["Last Login Time"], format="%H:%M %p"
).dt.time
employees["Senior Management"] = employees["Senior Management"].astype(bool)
employees["Gender"] = employees["Gender"].astype("category")
employees.head()

In [11]:
# female employees who work in Marketing who earn over $100k a year

is_female = employees["Gender"] == "Female"
is_in_marketing = employees["Team"] == "Marketing"
salary_over_100k = employees["Salary"] > 100000

In [ ]:
is_female & is_in_marketing & salary_over_100k

# True, True -> True
# True, False -> False
# False, True -> False
# False, False -> False

In [ ]:
employees[is_female & is_in_marketing & salary_over_100k]

## Filter with More than One Condition (OR)
- Use the `|` operator in between two Boolean **Series** to filter by *either* condition.

In [ ]:
employees = pd.read_csv(
    "employees.csv", parse_dates=["Start Date"], date_format="%m/%d/%Y"
)
employees["Last Login Time"] = pd.to_datetime(
    employees["Last Login Time"], format="%H:%M %p"
).dt.time
employees["Senior Management"] = employees["Senior Management"].astype(bool)
employees["Gender"] = employees["Gender"].astype("category")
employees.head()

In [ ]:
# AND vs OR (OR logic below)
#
# True, True -> True
# True, False -> True
# False, True -> True
# False, False -> False

# Employees who are either senior management OR started before January 1st, 1990

is_senior_management = employees["Senior Management"]
started_in_80s = employees["Start Date"] < "1990-01-01"

employees[is_senior_management | started_in_80s]

In [20]:
# First Name is Robert who work in Client Services OR Start Date after 2016-06-01

In [21]:
is_robert = employees["First Name"] == "Robert"
is_in_client_services = employees["Team"] == "Client Services"
start_date_after_june_2016 = employees["Start Date"] > "2016-06-01"

In [ ]:
employees[(is_robert & is_in_client_services) | start_date_after_june_2016]

## The isin Method
- The `isin` **Series** method accepts a collection object like a list, tuple, or **Series**.
- The method returns True for a row if its value is found in the collection.

In [ ]:
employees = pd.read_csv(
    "employees.csv", parse_dates=["Start Date"], date_format="%m/%d/%Y"
)
employees["Last Login Time"] = pd.to_datetime(
    employees["Last Login Time"], format="%H:%M %p"
).dt.time
employees["Senior Management"] = employees["Senior Management"].astype(bool)
employees["Gender"] = employees["Gender"].astype("category")
employees.head()

In [ ]:
# Legal Team or Sales Team or Product Team

legal_team = employees["Team"] == "Legal"
sales_team = employees["Team"] == "Sales"
product_team = employees["Team"] == "Product"

employees[legal_team | sales_team | product_team]

In [ ]:
target_teams = employees["Team"].isin(["Legal", "Sales", "Product"])
employees[target_teams]

## The isnull and notnull Methods
- The `isnull` method returns True for `NaN` values in a **Series**.
- The `notnull` method returns True for present values in a **Series**.

In [ ]:
employees = pd.read_csv(
    "employees.csv", parse_dates=["Start Date"], date_format="%m/%d/%Y"
)
employees["Last Login Time"] = pd.to_datetime(
    employees["Last Login Time"], format="%H:%M %p"
).dt.time
employees["Senior Management"] = employees["Senior Management"].astype(bool)
employees["Gender"] = employees["Gender"].astype("category")
employees.head()

In [ ]:
employees[employees["Team"].isnull()]  # Returns all rows where Team is null

employees[employees["Team"].notnull()]  # Returns all rows where Team is not null

employees[
    employees["First Name"].isnull() & employees["Team"].notnull()
]  # Returns all rows where First Name is null and Team is not null

## The between Method
- The `between` method returns True if a **Series** value is found within its range.

In [ ]:
employees = pd.read_csv(
    "employees.csv", parse_dates=["Start Date"], date_format="%m/%d/%Y"
)
employees["Last Login Time"] = pd.to_datetime(
    employees["Last Login Time"], format="%H:%M %p"
).dt.time
employees["Senior Management"] = employees["Senior Management"].astype(bool)
employees["Gender"] = employees["Gender"].astype("category")
employees.head()

In [20]:
import datetime as dt

In [ ]:
employees[employees["Salary"].between(60000, 70000)]

employees[employees["Bonus %"].between(2.0, 5.0)]

employees[employees["Start Date"].between("1991-01-01", "1992-01-01")]

employees[employees["Last Login Time"].between(dt.time(8, 30), dt.time(12, 0))]

## The duplicated Method
- The `duplicated` method returns True if a **Series** value is a duplicate.
- Pandas will mark one occurrence of a repeated value as a non-duplicate.
- Use the `keep` parameter to designate whether the first or last occurrence of a repeated value should be considered the "non-duplicate".
- Pass False to the `keep` parameter to mark all occurrences of repeated values as duplicates.
- Use the tilde symbol (`~`) to invert a **Series's** values. Trues will become Falses, and Falses will become trues.

In [ ]:
employees = pd.read_csv(
    "employees.csv", parse_dates=["Start Date"], date_format="%m/%d/%Y"
)
employees["Last Login Time"] = pd.to_datetime(
    employees["Last Login Time"], format="%H:%M %p"
).dt.time
employees["Senior Management"] = employees["Senior Management"].astype(bool)
employees["Gender"] = employees["Gender"].astype("category")
employees.head()

In [ ]:
employees[employees["First Name"].duplicated()]

In [ ]:
employees[
    employees["First Name"].duplicated()
]  # Returns all rows where First Name is duplicated
employees[
    employees["First Name"].duplicated(keep="first")
]  # Returns all rows where First Name is duplicated, keeping the first occurrence

employees[
    employees["First Name"].duplicated(keep="last")
]  # Returns all rows where First Name is duplicated, keeping the last occurrence

employees[
    employees["First Name"].duplicated(keep=False)
]  # Returns all rows where First Name is duplicated

employees[
    ~employees["First Name"].duplicated(keep=False)
]  # Returns all rows where First Name is not duplicated

## The drop_duplicates Method
- The `drop_duplicates` method deletes rows with duplicate values.
- By default, it will remove a row if *all* of its values are shared with another row.
- The `subset` parameter configures the columns to look for duplicate values within.
- Pass a list to `subset` parameter to look for duplicates across multiple columns.

In [ ]:
employees = pd.read_csv(
    "employees.csv", parse_dates=["Start Date"], date_format="%m/%d/%Y"
)
employees["Last Login Time"] = pd.to_datetime(
    employees["Last Login Time"], format="%H:%M %p"
).dt.time
employees["Senior Management"] = employees["Senior Management"].astype(bool)
employees["Gender"] = employees["Gender"].astype("category")
employees.head()

In [ ]:
employees.drop_duplicates()

employees.drop_duplicates("Team")
employees.drop_duplicates("Team", keep="first")
employees.drop_duplicates("Team", keep="last")
employees.drop_duplicates("Team", keep=False)

employees.drop_duplicates("First Name", keep=False)

employees.drop_duplicates(["Senior Management", "Team"]).sort_values("Team")

employees.drop_duplicates(["Senior Management", "Team"], keep="last").sort_values(
    "Team"
)

## The unique and nunique Methods
- The `unique` method on a **Series** returns a collection of its unique values. The method does not exist on a **DataFrame**.
- The `nunique` method returns a *count* of the number of unique values in the **Series**/**DataFrame**.
- The `dropna` parameter configures whether to include or exclude missing (`NaN`) values.

In [ ]:
employees = pd.read_csv(
    "employees.csv", parse_dates=["Start Date"], date_format="%m/%d/%Y"
)
employees["Last Login Time"] = pd.to_datetime(
    employees["Last Login Time"], format="%H:%M %p"
).dt.time
employees["Senior Management"] = employees["Senior Management"].astype(bool)
employees["Gender"] = employees["Gender"].astype("category")
employees.head()

In [ ]:
employees["Gender"].unique()  # Returns all unique values in the Gender column
type(
    employees["Gender"].unique()
)  # Returns the data type of the unique values in the G

employees["Team"].unique()  # Returns all unique values in the Team column
type(employees["Team"].unique())

employees["Team"].nunique()  # Returns the number of unique values in the Team column
employees["Team"].nunique(
    dropna=True
)  # Returns the number of unique values in the Team column, excluding NA values
employees["Team"].nunique(
    dropna=False
)  # Returns the number of unique values in the Team column, including NA values

In [ ]:
employees.nunique()